<ion-side-menus>
	<ion-side-menu-content>
		<ion-nav-bar class="bar-assertive header-migrarium" animation="nav-title-slide-ios7" style="background: url(img/header-background.jpg) no-repeat; border-bottom-width:4px; border-bottom-color:#ff6b15;">
			<ion-nav-back-button class="button-icon ion-arrow-left-c">
			</ion-nav-back-button>
			
		</ion-nav-bar>
		<!--<ion-nav-buttons side="left">
			<button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
		</ion-nav-buttons>-->
		<!--<ion-nav-buttons side="right">
			<a class="button button-icon icon ion-ios7-email-outline" ng-click="openAlerts($event)"><span class="badge badge-assertive" ng-if="messages.length > 0">{{messages.length}}</span></a>
		</ion-nav-buttons>-->
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu expose-aside-when="large" style="background-color: #e0e0e0 !important;">
		<ion-header-bar class="bar-assertive">
			<h1 class="title">Menú</h1>
		</ion-header-bar>
		<ion-content>
			<br>
			<div class="list">
				<a menu-close class="item item-icon-left" href="#/route/home">
					<i class="icon ion-ios7-home"></i>
					Inicio
				</a>
				
				<div class="item item-divider">
					Reportar
				</div>
				<a menu-close class="item item-icon-left" href="#/route/locations">
					<i class="icon ion-ios7-location"></i>
					Riesgos Cercanos
				</a>
				<a menu-close class="item item-icon-left" href="#/route/diagnostic">
					<i class="icon ion-clipboard"></i>
					Diagnóstico Vial
				</a>
				<a menu-close class="item item-icon-left" href="#/route/cases">
					<i class="icon ion-android-hand"></i>
					Historias en la Vía
				</a>
				<a menu-close class="item item-icon-left" href="#/route/driver">
					<i class="icon ion-information-circled"></i>
					Calificar Conductores
				</a>
				<div class="item item-divider">
					Estadísticas
				</div>
				<a menu-close class="item item-icon-left" href="#/route/statistics">
					<i class="icon ion-pie-graph"></i>
					Ver Datos
				</a>
				<div class="item item-divider">
					Información
				</div>
				<a menu-close class="item item-icon-left" href="#/route/news">
					<i class="icon ion-ios7-paper"></i>
					Noticias
				</a>
				<a menu-close class="item item-icon-left" href="#/route/faqs">
					<i class="icon ion-ios7-chatboxes"></i>
					Preguntas Frecuentes
				</a>
				<a menu-close class="item item-icon-left" href="/#/">
					<i class="icon ion-information"></i>
					Acerca De
				</a>
			</div>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>