<ion-view title="migrarium" ng-controller="FiltersCtrl as vm">
	<ion-content>
		<h3 style="text-align:center;">¿Qué deseas ver hoy?</h3>

		<div class="list" style="text-align:center;">
		  
		  <label class="lblForm" style="vertical-align: super;">
		    Arriendo
		  </label>

			<label class="checkbox" style="margin-right:5%; padding:0px;">
				<input type="checkbox" group="prueba" >
			</label>
		
		  <label class="lblForm" style="vertical-align: super;">
		    Compra
		  </label>
		  <label class="checkbox" style="padding:0px;">
				<input type="checkbox" group="prueba">
			</label>
		</div>
		<hr />
		<h3 style="text-align:center;">Estilo de vida</h3>
		<div class="list" style="text-align:center; width:100%">
			<div class="card tarjetaDiv" >
			  <div class="item item-text-wrap divEstilosVidaGlobal" ng-click="vm.clickDivEstiloVida1()" ng-class="vm.itemStyle1" style="background-image: url('img/Deportista.jpg'); ">
			  	<div class="divEstilosVida" >
			  		<img src="img/deportista-icon.png" style="">
			  	</div>
			  </div>
			</div>
			<div class="card tarjetaDiv">
			  <div class="item item-text-wrap divEstilosVidaGlobal" ng-click="vm.clickDivEstiloVida2()" ng-class="vm.itemStyle2" style="background-image: url('img/Tranquilo.jpg'); ">
			  	<div class="divEstilosVida" >
			  		<img src="img/tranquilo-icon.png" style="">
			  	</div>
			  </div>
			</div>
			<div class="card tarjetaDiv">
			  <div class="item item-text-wrap divEstilosVidaGlobal" ng-click="vm.clickDivEstiloVida3()" ng-class="vm.itemStyle3" style="background-image: url('img/familiar.jpg'); ">
			  	<div class="divEstilosVida" >
			  		<img src="img/familiar-icon.png" style="">
			  	</div>
			  </div>
			</div>
			<div class="card tarjetaDiv">
			  <div class="item item-text-wrap divEstilosVidaGlobal" ng-click="vm.clickDivEstiloVida4()" ng-class="vm.itemStyle4" style="background-image: url('img/Pareja.jpg'); ">
			  	<div class="divEstilosVida" >
			  		<img src="img/pareja-icon.png" style="">
			  	</div>
			  </div>
			</div>
			<div class="card tarjetaDiv">
			  <div class="item item-text-wrap divEstilosVidaGlobal" ng-click="vm.clickDivEstiloVida5()" ng-class="vm.itemStyle5" style="background-image: url('img/Mascotas.jpg'); ">
			  	<div class="divEstilosVida" >
			  		<img src="img/mascotas-icon.png" style="">
			  	</div>
			  </div>
			</div>
			<div class="card tarjetaDiv">
			  <div class="item item-text-wrap divEstilosVidaGlobal" ng-click="vm.clickDivEstiloVida6()" ng-class="vm.itemStyle6" style="background-image: url('img/Rumba.jpg'); ">
			  	<div class="divEstilosVida" >
			  		<img src="img/rumba-icon.png" style="">
			  	</div>
			  </div>
			</div>
			</div>
		</div>
		<div class="bar bar-footer item-nav-bar" style="height:55px;margin-top: 2%;background-color:#595959;">
			<a class="item-icon-left assertive footer" style="" href="#/route/login">
		    <img src="img/User-icon.png">
		    
		  </a>
		  <a class="item-icon-left assertive footer" href="#/route/locations">
		    <img src="img/Radar-icon-tab.png">		  
		  </a>
		  
		  <a class="item-icon-left assertive footer" style="" href="#/route/filters">
		    <img src="img/Search-icon.png" style="padding-top:3px;">
		    
		  </a>
		  <a class="item-icon-left assertive footer">
		    <img src="img/Fav-icon.png" style="padding-top:3px;">		  
		  </a>
		</div>
		<br />
		<button class="button button-assertive" style="width:100%; background-color:#38cff2; border:0px;" ng-click="vm.ResultadosBusqueda()">
		  Buscar
		</button>
	</ion-content>
</ion-view>