<style type="text/css">
	#owl-demo .item{
	  background: #a1def8;
	  padding: 0px 0px;
	  display: block;
	  margin: 5px;
	  color: #FFF;
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  border-radius: 3px;
	  text-align: center;
	}
	
	
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 0px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

</style>

 

<ion-view title="Detalle inmueble" ng-app="ionicApp" animation="slide-left-right-ios7" ng-controller="SlideController">	

	<ion-content>
	
	<div style="width:100%; height:50px !important">
<button class="button button-calm" style="width:100%;">
  Volver a resultados
</button> 
</div>


<ion-slide-box active-slide="myActiveSlide">
  <ion-slide>
    <div class="box"><img src="img/Foto3.jpg">
	</div>
  </ion-slide>
  <ion-slide>
    <div class="box"><img src="img/Foto10.jpg"></div>
  </ion-slide>
  <ion-slide>
    <div class="box"><img src="img/Foto7.jpg"></div>
  </ion-slide>
</ion-slide-box>	
	 <center>
	 <h2 style="width:100%;background-color:#ff6b15;">$ 1'200.000 Mensuales</h2>
	 
 </center>
 
 <div class="clearfix"></div>
	
	

</ion-view>