<ion-view title="Noticias" animation="slide-left-right" ng-controller="newsCtrl as vm">
	<ion-content>
		<ion-refresher pulling-text="Hale para refrescar ..." on-refresh="vm.getNews(true)">
		</ion-refresher>
		<div class="padding-horizontal">	
			<h4></h4>
		</div>

      	<ion-list>
	        <div ng-repeat="news in vm.news">
	          <div class="card">
	          	<div class="item-text-wrap">
					<a class="item item-thumbnail-left">
						<img class="img-list"  width="40" ng-src="{{news.image}}" />
					    <h2 class="list-title"> {{news.title}} <span class="item-note"> </span></h2>
					    <p>{{news.published_at | date:'MM/dd/yyyy'}} <br> {{news.description}}<span class="item-note"></span></p>
					    <div>
							<button class="button button-small button-light" on-tap="vm.browse(news.url)">Ver 		Noticia Completa
							</button>
					  	</div>
					  	
					</a>
				</div>
			  </div>
	        </div>
	     </ion-list>


		Modal mapa

		<div class="list card">

		  <div class="item item-image">
		    <img src="img/Foto1.jpg" style="height:150px;">
		  </div>
			<br />
			<label class="lblForm" style="vertical-align: super; font-weight:200; font-size:14px;">
		    Cra. 54 No. 33 sur - 20
		    <br />
		    La frontera - Envigado - Antioquia
		    <br />
		    Arrendamiento
		  </label>
		  <br />
		  <a class="item item-icon-left assertive" style="float:left; width:100%; padding-left:6%;">
		    <img src="img/mascotas-icon.png" style="margin-right:20px;">
		    <label class="lblForm" style="vertical-align: super; margin-right:20px;">
		    Mascotas
		  </label>
		  
		    <img src="img/rumba-icon.png" style="margin-right:20px;">
		    <label class="lblForm" style="vertical-align: super;">
		    Rumba
		  </label>

		  </a>
			<a class="item item-icon-left assertive" style="float:left; width:50%; padding-left:6%; background-color:#ff6b15; text-align:center; height:60px;">
		    <img src="img/wase-icon.png" style="margin-right:20px;">
		    
		  </a>
		  <a class="item item-icon-left assertive" style="float:left; width:50%; padding-left:6%; background-color:#ff6b15; text-align:center; height:60px;">
		    <img src="img/eye-icon.png" style="margin-right:20px;">
		   
		  
		  </a>

		</div>
		<div class="clearfix"></div>
	</ion-content>
</ion-view>