<ion-view title="Mensajes">
	<ion-tabs style="padding-bottom:20px;" class="nav-title-slide-ios7 tabs-striped tabs-icon-top tabs-top tabs-background-light tabs-assertive" animation="nav-title-slide-ios7">
		<ion-tab title="Entrada" icon-on="ion-email" icon-off="ion-email" href="#/route/messages/inbox">
			<ion-nav-view name="inbox-tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Salida" icon-on="ion-share" icon-off="ion-share" href="#/route/messages/outbox">
			<ion-nav-view name="outbox-tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Nuevo" icon-on="ion-paper-airplane" icon-off="ion-paper-airplane" href="#/route/messages/send">
			<ion-nav-view name="send-tab"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>