<style type="text/css">
	.card {
		border-radius: 10px;
	}
</style>
<ion-view title="Preguntas Frecuentes" animation="slide-left-right" ng-controller="FaqsCtrl as vm">
	<ion-content>
		<ion-refresher pulling-text="Hale para refrescar ..." on-refresh="vm.loadFaqsList(true)">
		</ion-refresher>
		<div class="padding-horizontal">	
			<h4></h4>
		</div>
		
		<ion-list ng-repeat="faq in vm.faqs">
	        <div class="card" style="width:50%;">
          		<div class="item item-text-wrap">
          			{{ faq.text }}
          		</div>
		  	</div>
		  	<div class="card" style="width:50%;float:right;">
          		<div class="item item-text-wrap cardStyle">
          			{{ faq.answer }}
          		</div>
		  	</div>
	    </ion-list>

		<div class="clearfix"></div>
	</ion-content>
</ion-view>