<style type="text/css">
	.barBg {
		background-color: transparent !important;
	}
</style>
<ion-view title="Estadísticas" ng-controller="Charts">
	<ion-content class="padding">
		<!--<div class="row chart-wrap">
			<div class="col">
				<h4>Line Chart</h4>
				<canvas id="line2" class="chart chart-line" options="options" data="linedata" labels="linelabels" legend="true" series="lineseries"></canvas>
			</div>
		</div>-->
		<div class="row chart-wrap">
			<div class="col">
				<h4>Accidentes en Vías</h4>
				<canvas id="bar" class="chart chart-bar barBg" options="options" data="bardata" labels="barlabels" legend="true" series="barseries"></canvas>
			</div>
		</div>
		<div class="row chart-wrap">
			<div class="col">
				<h4>Mortalidad Actores en la Vía</h4>
				<canvas id="doughnut" class="chart chart-doughnut" data="doughnutData" labels="doughnutLabels"></canvas>
			</div>
		</div>
	</ion-content>
</ion-view>