<ion-view title="<img src='img/logo.png' class='img-responsive'>" ng-controller="messageDetailCtrl as vm">	
	<ion-content>
		
		<h4>
		</h4>

		<div class="padding-horizontal">	
			<a href="#/route/messages/inbox" class="ion-chevron-left" style="text-decoration:none; color: #000">
			 	Bandeja
			</a>
		</div>
	
		<ion-list>
	         <div class="card">
	          	<div class="item-text-wrap">
					<a class="item item-thumbnail-left">
						<img src="img/inbox.png">
					    <h2>De: {{vm.detailMessage.emisor}} <span class="item-note"> </span></h2>
					    <h2>{{vm.detailMessage.tittle}}<span class="item-note"></span></h2>
					    <div>
						 	<p>{{vm.detailMessage.content}}</p>
					  	</div>
					</a>
				</div>
			  </div>
	     </ion-list>

		<div class="clearfix"></div>
	</ion-content>
</ion-view>