<ion-view view-title="Chats">
<center>
  <ion-content>
  

 <button class="button button-positive lblForm" style="background-color:#3a5795;width:70%;margin-top:30px;">
 <img src="img/facebook-icon-button.png" style="margin-top: 4%;" > &nbsp; Iniciar con Facebook
</button>
 
 <span class="input-label lblForm" style="margin-top: 3%;width:100%">Ó iniciar sesión a la antiguita</span>

 
  <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Nombre completo">
  </label>
 </div>

  <div class="list list-inset">
  <label class="item item-input">
    <input type="password" placeholder="Password">
  </label>
  </div>
  
 <button class="button button-calm" style="margin-top: 1px;width:70%">
  Iniciar
</button>
  
   <span class="input-label lblForm" style="margin-top: 1%;width:100%">¿Aún no estás registrado?</span>
   
   
   <button class="button button-calm" style="margin-top: 1%;width:70%">
  Registrate
</button>

<div class="bar bar-footer item-nav-bar" style="height:55px;margin-top: 2%;background-color:#595959; ">
			<a class="item-icon-left assertive footer" style="" href="#/route/login">
		    <img src="img/User-icon.png" style="margin-right:20px;">
		    
		  </a>
		  <a class="item-icon-left assertive footer" href="#/route/locations">
		    <img src="img/Radar-icon-tab.png" style="margin-right:20px;">		  
		  </a>
		  
		  <a class="item-icon-left assertive footer" style="" href="#/route/filters">
		    <img src="img/Search-icon.png" style="margin-right:20px;">
		    
		  </a>
		  <a class="item-icon-left assertive footer">
		    <img src="img/Fav-icon.png" style="margin-right:20px;">		  
		  </a>
</div>

  </ion-content> 
  </center>
</ion-view>
