<ion-view view-title="Resultados de la Búsqueda"> 
<script src="script.js"></script>
<ion-view title="Resultados" ng-controller="HomeCtrl as vm">
 <ion-content>
<div style="width: 50%; float:left; overflow-y: scroll;display:table-cell; vertical-align:middle; text-align:center; border: white 1px solid;">
	<div>
		 <a href="#/route/detalle"><img src="../img/Foto11.jpg" width='250' height='300'></a>
		 <p align="center">
		 	Casa en santa helena, espectaculares acabados
		 </p>
	</div>
	<div>
		 <a href="#"><img src="../img/Foto12.jpg" width='250' height='250'></a>
		 <p align="center" style:"posotion:absolute;">
		 	Casa en santa helena, espectaculares acabados
		 </p>
	</div>
	<div>
		 <a href="#"><img src="../img/Foto13.jpg" width='250' height='220'></a>
		 <p align="center">
		 	Casa en santa helena, espectaculares acabados
		 </p>
	</div>
	<div>
		 <a href="#"><img src="../img/Foto14.jpg" width='250' height='200'></a>
		 <p align="center">
		 	Casa en santa helena, espectaculares acabados
		 </p>
	</div>
	<div>
		 <a href="#"><img src="../img/Foto15.jpg" width='250' height='250'></a>
		 <p align="center">
		 	Casa en santa helena, espectaculares acabados
		 </p>
	</div>
</div>

<div style="width: 50%; float:left; overflow-y: scroll; display:table-cell; vertical-align:middle; text-align:center;  border: white 1px solid;">
	<br>
	<div>
		<a href="#"><img src="../img/Foto16.jpg" width='250' height='240' align="center"></a>
		<p align="center">
		 	Casa en santa helena, espectaculares acabados
		 </p>
	</div>
	<div>
		<a href="#"><img src="../img/Foto17.jpg" width='250' height='250'></a>
		<p align="center">
		 	Casa en santa helena, espectaculares acabados
		 </p>
	</div>
	<div>
	    <a href="#"><img src="../img/Foto18.jpg" width='250' height='300'></a>
		<p align="center">
		 	Casa en santa helena, espectaculares acabados
		 </p>
	</div>
	<div>
		<a href="#"><img src="../img/Foto19.jpg" width='250' height='250'></a>
		<p align="center">
		 	Casa en santa helena, espectaculares acabados
		 </p>
	</div>
    <div>
		<a href="#"><img src="../img/Foto20.jpg" width='250' height='210'></a>
		<p align="center">
		 	Casa en santa helena, espectaculares acabados
		 </p>
	</div>
</div>
<div class="bar bar-footer item-nav-bar" style="height:55px;margin-top: 2%;background-color:#595959; position: static;">
			<a class="item-icon-left assertive footer" style="" href="#/route/login">
		    <img src="img/User-icon.png">
		    
		  </a>
		  <a class="item-icon-left assertive footer" href="#/route/locations">
		    <img src="img/Radar-icon-tab.png">		  
		  </a>
		  
		  <a class="item-icon-left assertive footer" style="" href="#/route/filters">
		    <img src="img/Search-icon.png" style="padding-top:3px;">
		    
		  </a>
		  <a class="item-icon-left assertive footer">
		    <img src="img/Fav-icon.png" style="padding-top:3px;">		  
		  </a>
</div>
</ion-content>
    
</ion-view>