<ion-view title="Noticias" animation="slide-left-right" ng-controller="newsCtrl as vm">
	<ion-content>
		<ion-refresher pulling-text="Hale para refrescar ..." on-refresh="vm.getNews(true)">
		</ion-refresher>
		<div class="padding-horizontal">	
			<h4></h4>
		</div>

      	<ion-list>
	        <div ng-repeat="news in vm.news">
	          <div class="card">
	          	<div class="item-text-wrap">
					<a class="item item-thumbnail-left">
						<img class="img-list"  width="40" ng-src="{{news.image}}" />
					    <h2 class="list-title"> {{news.title}} <span class="item-note"> </span></h2>
					    <p>{{news.published_at}} <br> {{news.description}}<span class="item-note"></span></p>
					    <div>
							<button class="button button-small button-light" on-tap="vm.browse(news.url)">Ver 		Noticia Completa
							</button>
					  	</div>
					  	
					</a>
				</div>
			  </div>
	        </div>
	     </ion-list>

		<div class="clearfix"></div>
	</ion-content>
</ion-view>