<ion-view style="background-color:white !important;"  title="Migrarium" animation="slide-left-right" ng-controller="pointsCtrl as vm">
	<ion-content>
		<div class="img-overlay-maps img-animation">
			<img src="img/Radar-icon.png" class="vm.mapClass" ng-class="vm.mapClass" />
		 </div>
		 <div class="img-overlay-maps">
			<img src="img/btn-buscar-home.png" ng-click="vm.imgClick()" ng-class="vm.findClass" />
		 </div>
		<ui-gmap-google-map center='vm.map.center' data-tap-disabled="true" zoom='vm.map.zoom' draggable="true" events="vm.map.eventsProperty">
		 	<ui-gmap-markers models="vm.map.markers" coords="'self'" icon="'icon'" animation="'animation'" click="'onClick'">
		 	</ui-gmap-markers>
		</ui-gmap-google-map>

        </p>
		<div class="clearfix"></div>
		<div class="bar bar-footer item-nav-bar" style="height:55px;margin-top: 2%;background-color:#595959;">
			<a class="item-icon-left assertive footer" style="" href="#/route/login">
		    <img src="img/User-icon.png">
		    
		  </a>
		  <a class="item-icon-left assertive footer" href="#/route/locations">
		    <img src="img/Radar-icon-tab.png">		  
		  </a>
		  
		  <a class="item-icon-left assertive footer" style="" href="#/route/filters">
		    <img src="img/Search-icon.png" style="padding-top:3px;">
		    
		  </a>
		  <a class="item-icon-left assertive footer">
		    <img src="img/Fav-icon.png" style="padding-top:3px;">		  
		  </a>
</div>
	</ion-content>
</ion-view>

