
.bar.bar-assertive {

	background-color: #f2f2f2;
	border-color: #f2f2f2;

}

/* Faqs */
.imgFaqs {
	top: 8px !important;
}
/* End Faqs */

/*Intro*/

.intro-div-slidebox 
{
	/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(219, 216, 227, 0.9);
}

.light-header 
{
	color: #497eda;
	font-size: 24px;
}

.light-header-sub 
{
	color: #C31820;
	font-size: 15px;
	margin: 12px 0px 20px;
}

.button-intro-light  {

	background: #497eda;
	color: #fff;
	width: 80%;
}

.transparent-select {
	background-color:transparent !important;
}

.list .item.item-accordion {
	line-height: 38px;
	padding-top: 0;
	padding-bottom: 0;
	transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
	line-height: 0px;
}
			
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
	display: block !important;
}

.action {
	cursor: pointer;
}
/*End intro select list*/

/* Angular Maps */
map {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
}

.scroll {
  height: 100%;
}

.angular-google-map-container {
    display: block;
    width: 100%;
    height: 100%;
}


.angular-google-map {
    display: block;
    width: 100%;
    height: 100%;
}

.marker-labels {
    color: #222;
    background-color: #f5f5f5;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #C31820;
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 3px;
}

.map-select-list {
	width: 96%;
	margin: 10px;
}

/* End Angular Maps */

/* News list */
.img-list {

	top: 20px !important;
}

.list-title {

	color: #64acdd ;
}

/* End news list */

/* Messages span list */	
.list > span {

	margin: 15px;
}

.input-label-intro {

	padding: 5px 10px 7px 0 !important;
}
/* end messages span list */

/* Worschedule details */
.tabs {
	position: inherit;
}

.view {
	position: inherit;
	height: initial;
}

.pane {
	position: inherit;
	height: initial;
}

h2 {
	text-align: left;
}

.chart {
	width: 200px;
	height: 180px;
}

.spanFloat {
	float: right;
}

progress {
  display: block;
  margin: 0px auto;
  width: 85px;
  background-color: green;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  height: 18px;
}

.imgSchedule {
	border-radius: 50% !important;
	top: 6px !important;
}

.imgSchedulePpr {
	border-radius: 50% !important;
	top: 15px !important;
}

.goal {
	float: none;
}

.item-avatar {
	min-height: 0 !important;
}

#divMargin {
	padding-top: 10px;
}
/* end worschedule details*/

/* True or false */
.anwser-text-true {

	border-style: solid;
    border-width: 5px;
    border-color: green;
    background-color:#f5f5f5;
}

.anwser-text-false {

	border-style: solid;
    border-width: 5px;
    border-color: #C31820;
    background-color:#f5f5f5;
}
/* end true or false */

.whitebg {
	background-color:white !important;
}

.menu-content .pane {
	
	background-image: none;
	background-color: #e0e0e0 !important;
}

.menu-label {
	font-weight:bold; 
	font-size:16px;
}

.menu-user-name {

	white-space: normal !important;
	font-size: 14px !important;
}

/* Pprs */

.spaceItem {
	line-height: 30px !important;
}
/* End Pprs */

/* Words */

.col {
	text-align: center;
}

.center {
	text-align: center;
	display: inline-block !important;
	position: inherit !important;
}

.item-body > p {
	text-align: justify;
	margin-top: 0px;
}

.dimension {
	text-align: center;
}

.slide {
	text-align: center;
	padding: 20px;
}

.spanSlide {
	font-size: 70px;
	padding: 40px 25px;
	border-radius: 50px;
}
/* End Words */

.margin-vertical {

	margin-bottom: 10px !important;
}

/* Slider */

.owl-page > span {
	background: #ce6e18 !important;
}

/* End slider */

/* Diagnostic */

.buttonDiagnostic {
	background-color:#ff6b15 !important; 
	border-color:#ce6e18 !important;
}

.button.buttonDiagnostic {

	color: #fff;
}

.cardStyle {
	background-color:#ce6e18 !important;
	border-color:#ce6e18 !important;
	color:white !important;
}

/* End diagnostic */

/* Detail Diagnostic */

.imgSchedule {
    border-radius: 50% !important;
    top: 6px !important;
}

#progress {
    border: 1px solid black;
    position: relative;
    padding: 0px;
    border-radius: 10px;
    background-color: #A9A9A9;
}

#percent {
    position: absolute;
    left: 45%;
    font-size: 15px;
    color: white;
}

#bar {
    height: 18px;
    background-color: #ce6e18;
    width: 50%;
    border-radius: 10px;
}

.divSeparator {
    padding-top:10px;
}

h3{
	color:#ff6b15;
	font-weight: 200;
	font-size: 24px;
}

.lblForm{
	color:#595959;
	font-size: 18px;
}

.bar.bar-assertive .title 
{
	color: #ff6b15;
	position:left !important;
}

.tag-hidden {

	display: none;
}

.tag-visible {

	display: block;
}

.img-overlay-maps
{
	position: absolute; 
	top: 25%; 
	left: 15%; 
	z-index: 99;
} 

.divEstilosVida{
	width:100%; 
	height:100%; 
	background-color:#000; 
	opacity: 0.8; 
	filter: alpha(opacity=40);
	padding-top:25%;
	border-left:0px;
	border-right:0px;
}

.divEstilosVidaGlobal{
	padding:0px; 
	background-size: 132px 132px; 
	height:100%; 
	background-repeat: no-repeat; 
	opacity: 0.7; 
	filter: alpha(opacity=40);
	border-left:0px;
	border-right:0px;
}

.divEstilosdVidaBorder{

	padding:0px; 
	background-size: 132px 132px; 
	height:100%; 
	background-repeat: no-repeat; 
	border-bottom-color: #38cff2;
	border-bottom-width: 7px; 
	opacity: 0.9; 
	filter: alpha(opacity=40);
}

.tarjetaDiv{
	width:33%; 
	height:132px; 
	float:left; 
	margin:0px;
}

.img-animation 
{	
   -webkit-animation: spin1 2s infinite linear;
	-moz-animation: spin1 2s infinite linear;
	-o-animation: spin1 2s infinite linear;
	-ms-animation: spin1 2s infinite linear;
	animation: spin1 2s infinite linear;
	    -webkit-transform-origin: 45% 45%;
	    -moz-transform-origin: 45% 45%;
	    -o-transform-origin: 45% 45%;
	    transform-origin: 45% 45%;
	    width: 256px;
	    height: 256px;
}
 
@-webkit-keyframes spin1 {
	0% { -webkit-transform: rotate(0deg);}
	100% { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin1 {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
	0% { -o-transform: rotate(0deg);}
	100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
	0% { -ms-transform: rotate(0deg);}
	100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg);}
} 

.item-nav-bar > a
{
	border-left: 1px solid #3a5051 !important;
}

.item-nav-bar a:first-child {
    border-left: 0 none !important;
}

.footer{
	 float:left; 
	 width:25%; 
	 padding-left:1%; 
	 background-color:#182129; 
	 text-align:center;
	}

/* End detail Diagnostic */