<style type="text/css">
	#owl-demo .item{
	  background: #a1def8;
	  padding: 0px 0px;
	  display: block;
	  margin: 5px;
	  color: #FFF;
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  border-radius: 3px;
	  text-align: center;
	}
	
	
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 0px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

</style>

 

<ion-view title="migrarium" ng-app="ionicApp" animation="slide-left-right-ios7" ng-controller="SlideController">	

	<ion-content>
	
	<div style="width:100%; height:50px !important">
<button class="button button-calm" style="width:100%;">
  Volver a resultados
</button> 
</div>


<ion-slide-box active-slide="myActiveSlide">
  <ion-slide>
    <div class="box"><img src="img/Foto3.jpg">
	</div>
  </ion-slide>
  <ion-slide>
    <div class="box"><img src="img/Foto10.jpg"></div>
  </ion-slide>
  <ion-slide>
    <div class="box"><img src="img/Foto7.jpg"></div>
  </ion-slide>
</ion-slide-box>	

<center>
		<h2 style="width:100%;background-color:#ff6b15;">$ 1'200.000 Mensuales</h2>
</center>

<div style="height:55px;background-color:#38cff2;width:100%">
			
			<a style="width:19%;" href="#/route/login">
		    <img src="img/Heart-icon-white.png" style="margin:5%">
		    
		  </a>
		  <a style="width:19%;" href="#/route/locations">
		    <img src="img/Mail-icon-white.png" style="margin:5%">	  
		  </a>
		  
		  <a style="width:19%;" href="#/route/filters">
		    <img src="img/Share-icon-white.png" style="margin:5%">
		    
		  </a>
		  <a style="width:19%;">
		    <img src="img/Euro-icon-white.png"  style="margin:5%">		  
		  </a>
		  
		  <a style="width:19%;">
		    <img src="img/Video-icon-white.png"  style="margin:5%">		  
		  </a>
</div>

<div style="float:left;">
<h6>Cra. 54 Nro 33 sur - 20</h6>
<h6>La frontera, Envigado, Antioquia</h6>
<h6>Arrendamiento</h6>
</div>
<div style="float:left;">
<img src="img/estrellas-icons.png" style="margin-right:20px;">	
</div>
<br><br>
<br><br>


<h3>Estilo de vida</h3>

<div style="float:left;width:33%;"><img src="img/familiar-icon.png"></div>
<div style="float:left;width:33%;"><img src="img/tranquilo-icon.png"></div>
<div style="float:left;width:33%;"><img src="img/pareja-icon.png"></div>

<h3>Descripción</h3>
<div style="width:100%;">Muy buena opción, excelente sector, tranquilidad, parques cercanos, buen transporte</div>

<h3>Caracteristicas generales</h3>
<div style="float:left;width:50%;"><img src="img/apartamento-icon.png">Apartamento</div>
<div style="float:left;width:50%;"><img src="img/area-icon.png">Area 200 mt2</div>
<br>
<div style="float:left;width:50%;"><img src="img/estrato-icon.png">Estrato 5</div>
<div style="float:left;width:50%;"><img src="img/habitaciones-icon.png">3 habitaciones</div>
<br>
<div style="float:left;width:50%;"><img src="img/banos-icon.png">2 baños</div>
<div style="float:left;width:50%;"><img src="img/cocina-icon.png">Cocina</div>
<br>
<div style="float:left;width:50%;"><img src="img/comedor-icon.png">Comedor</div>
<div style="float:left;width:50%;"><img src="img/sala-icon.png">Sala</div>
<br>
<div style="float:left;width:50%;"><img src="img/garage-icon.png">Garage</div>
<div style="float:left;width:50%;"><img src="img/patio-icon.png">Patio</div>

<br><br>
<br><br>

<h3>Cerca de mi</h3>
<div style="float:left;width:50%;"><img src="img/escuela-icon.png">Escuela</div>
<div style="float:left;width:50%;"><img src="img/iglesia-icon.png">Iglesia</div>
<br>
<div style="float:left;width:50%;"><img src="img/metro-icon.png">Estación</div>
<div style="float:left;width:50%;"><img src="img/supermercado-icon.png">Supermercado</div>
<br>
<div style="float:left;width:50%;"><img src="img/ciclovia-icon.png">Ciclovia</div>
<br>


<div class="bar bar-footer item-nav-bar" style="height:55px;margin-top: 2%;background-color:#595959; ">
  			<a class="item-icon-left assertive footer" style="" href="#/route/login">
		    <img src="img/User-icon.png" style="margin-right:20px;">
		    
		  </a>
		  <a class="item-icon-left assertive footer" href="#/route/locations">
		    <img src="img/Radar-icon-tab.png" style="margin-right:20px;">		  
		  </a>
		  
		  <a class="item-icon-left assertive footer" style="" href="#/route/filters">
		    <img src="img/Search-icon.png" style="margin-right:20px;">
		    
		  </a>
		  <a class="item-icon-left assertive footer">
		    <img src="img/Fav-icon.png" style="margin-right:20px;">		  
		  </a>
</div>

<div class="clearfix"></div>

	</ion-content>

</ion-view>