<ion-view title="Seguridad Vial" ng-controller="DriverCtrl as vm">	
	<ion-content>
		<div class="padding-horizontal">	
			<h4></h4>
		</div>
		<form name="form" ng-submit="vm.sendDriveInfo()" role="form">
			<div class="list" style="background:#ffffff;">
				<div class="item item-divider">
				Calificar Conductor
				</div>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Placa del vehículo</span>
					<input type="text" ng-model="vm.dataRate.plate" required>
				</label>
				<label class="item item-input item-select">
					<div class="input-label">Tipo de vehículo</div>
					<select ng-model="vm.dataRate.type" ng-options="item as item.name for item in items" required>
					</select>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Empresa</span>
					<input type="text" ng-model="vm.dataRate.company">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Observaciones</span>
					<input type="text" ng-model="vm.dataRate.observation" required>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Calificación</span>
					<center style="padding-top:20px;">
                        <div style="width: 20%; float: left;">
                            <img id="star1" src="img/estrella_vacia.png" ng-click="vm.loadStar(1)" />
                        </div>
                        <div style="width: 20%; float: left;">
                            <img id="star2" src="img/estrella_vacia.png" ng-click="vm.loadStar(2)" />
                        </div>
                        <div style="width: 20%; float: left;">
                            <img id="star3" src="img/estrella_vacia.png" ng-click="vm.loadStar(3)" />
                        </div>
                        <div style="width: 20%; float: left;">
                            <img id="star4" src="img/estrella_vacia.png" ng-click="vm.loadStar(4)" />
                        </div>
                        <div style="width: 20%; float: left;">
                            <img id="star5" src="img/estrella_vacia.png" ng-click="vm.loadStar(5)" />
                        </div>
                    </center>
				</label>
			</div>
			<div class="row padding">
				<div class="col">
					<button type="submit" ng-disabled="form.$invalid" class="button icon-left ion-share button-positive buttonDiagnostic">
						Enviar Calificación
					</button>
				</div>
			</div>
		</form>
		<div class="clearfix"></div>
	</ion-content>
</ion-view>