<style type="text/css">
	#owl-demo .item{
	  background: #a1def8;
	  padding: 30px 0px;
	  display: block;
	  margin: 5px;
	  color: #FFF;
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  border-radius: 3px;
	  text-align: center;
	}
</style>
<ion-view title="Seguridad Vial" ng-controller="HomeCtrl as vm">	
	<ion-content>
		<div class="clearfix"></div>
		<div class="padding menu-label">
			
		</div>
 <wrap-owlcarousel
 	class="owl-carousel padding"
 	data-options="{
 		autoPlay: false,
 		slideSpeed : 300,
 		paginationSpeed : 400,
 		items: 3,
 		itemsDesktop: [1199,3],
 		itemsTablet: [768,2]                                                                                  ,
 		itemsMobile: [479,1],
 		navigation: true,
 		navigationText: ['anterior','siguiente']
 	}">
 	<div class="owl-item">
 		<img src="img/slide2.jpg"/>
 	</div>
 	<div class="owl-item">
 		<img src="img/slide1.jpg"/>
 	</div>
 </wrap-owlcarousel>

		<div class="clearfix"></div>
	</ion-content>
	<ion-footer-bar align-title="right" class="bar-assertive">
		  <div><h1 class="title">Mintransporte</h1></div>
		  <div style="text-align:right;">
		      <a class="icon ion-social-facebook-outline" style="font-size:30px; padding:20px;"></a>
		      <a class="icon ion-social-twitter-outline" style="font-size:30px;"></a>
		 </div>
	</ion-footer-bar>
</ion-view>