<ion-view title="Reintegrapp" ng-controller="DtlDiagnosticCtrl as vm">	
	<ion-content>
		<ion-refresher pulling-text="Hale para refrescar ..." on-refresh="">
		</ion-refresher>
		<div class="padding-horizontal">	
			<h4>Resultado Diagnóstico</h4>
		</div>

		<div class="list card">

            <div class="item">
                {{ vm.title }}<span class="spanFloat">{{ vm.percentage }}%</span>
                <div class="divSeparator">
                    <span><div id="progress"><span id="percent"></span><div id="bar" style="{{ vm.style }}"></div></div></span>
                </div>
            </div>

            <div class="item item-body">
    		    <img class="full-image" ng-src="{{ vm.altImage }}">

                <div class="list">
                  <a class="item item-text-wrap item-icon-left" ng-repeat="adv in vm.listAdvice">
                    <i class="icon ion-arrow-right-b"></i>
                    {{ adv.advice }}
                  </a>
                </div>

            </div>

            <div class="item tabs tabs-secondary tabs-icon-left"></div>

		</div>

		<div class="clearfix"></div>
	</ion-content>
</ion-view>